.client-details-Component {
    border-radius: 19px !important;
    background: #1E1E2D !important;
}

.client-details-Component .clinte-details-square {
    border: 1px solid rgba(213, 153, 33, 0.20);
    height: 315px;
    width: 100%;
}

.current_month .modal-content {
    background: unset !important;
    width: 450px !important;

    

}

.current_month .modal-content .react-calendar {
    height: 300px !important;

}

.bXLDzR {
    border-radius: unset !important;
}