.AllRequests {
    width: 100%;
    height: 801px;
    border-radius: 19px;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    background: #1E1E2D;
    
    


}


.AllRequestsPieChartContainer {

    width: 80% !important;
    height: 40% !important;
    border-radius: 22px !important;
    border: 1px solid rgba(239, 170, 32, 0.50) !important;
}

.AllRequestsLineChartContainer {
    width: 80% !important;
    height: 50% !important;
    border-radius: 22px !important;
    border: 1px solid rgba(239, 170, 32, 0.50) !important;
}

.apexcharts-title-text {
    display: none;
}