.designChartContainer {
    height: 40%;
    width: 100%;
    border-radius: 19px;
    border: 1px solid rgba(239, 170, 32, 0.50);
}

.designTableContainer {
    border-radius: 22px;
    border: 1px solid rgba(239, 170, 32, 0.50);
    height: 50%;
    width: 95%;


}


.TableContainer .idxdtx {

    background: #34344D !important;
    color: #EFAA20 !important;


}