.add-user-button {
  color: white !important;
  width: 201px !important;
  height: 38px !important;
  background-color: #2b2b40 !important;
  font-size: 16px !important;
  border-radius: 10px !important;
  border: none !important;
  box-shadow: unset !important;
}
