.addUpdateUser {
    height: 793px;
    border-radius: 27px;
    border: 1px solid #EFAA20;
    background: #1E1E2D;



}
.addUpdateUser::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 27px;
  }
  
  .addUpdateUser::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    border-radius: 27px;
  }
  
  .addUpdateUser::-webkit-scrollbar-thumb {
    background-color: #F90;
    border-radius: 27px;
    background-image: -webkit-linear-gradient(45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent)
  }
  

.addUpdateUser .form-label {
    color: #fff !important;
    ;
}

.golden {
    color: #EFAA20 !important;
}

.small-golden-square {
    height: 147px;
    border: 1px solid rgba(213, 153, 33, 0.20);
}

.addupdateheader {
    color: #EFAA20;
    text-align: right;
    font-size: 20px !important;
    font-style: normal;

    line-height: 23.4px;
}

.full-system .form-control {
    background-color: #2B2B40 !important;
    border: unset !important;
    color: rgba(255, 255, 255, 0.50) !important;

}

.full-system .form-control::placeholder {
    color: rgba(255, 255, 255, 0.50) !important;
}

.full-system .form-control:focus {
    color: rgba(255, 255, 255, 0.50) !important;
    ;
}

.full-system .form-group {
    width: 190px;

}

.full-system .css-1ng70dv-control {
    background: #2B2B40 !important;
    border: unset !important;
}

.full-system .css-1ng70dv-control:hover {
    background: #2B2B40 !important;

}

.addupdateheader .css-m1smmt-control:hover {
    background: #2B2B40 !important;

}

.full-system .licenseDate-container {
    width: 75% !important;
}

.sumbmitAddUpdateUser {
    width: 139px ;
    height: 35px ;
    border-radius: 6px ;
    background: #EFAA20 ;
    border: unset ;
    color: #1E1E2D ;
    font-size: 15px ;
    line-height: 25.31px;
    font-weight: 500px ;
}

.sumbmitAddUpdateUser:hover {
    background-color: unset !important;
    border: 1px solid #EFAA20 !important;
    color: white !important;
}



.editUser {
    width: 139px ;
    height: 35px ;
    border-radius: 6px ;
    background: #C60736 ;
    border: unset ;
    color: #fff ;
    font-size: 15px ;
    line-height: 25.31px;
    font-weight: 500px ;
}



.editUser:hover {
    background-color: unset !important;
    border: 1px solid #EFAA20 !important;
    color: white !important;
}