@media screen and (max-width:760px) {
    .w-100-sm {
        width: 100% !important;
    }
    .submit-btn{
    width: 250px !important;
    }
    .ForgetPassword  img {
        width: 230px !important;
        height: 170px !important    ;
    }
    
}
