.all-users-Chart {
    height: 801px;
    border-radius: 19px;
    background: #1E1E2D;
  
}

.AllUsersPieChart {
    height: 300px !important;
}

.golden-square {

    border: 0.854px solid rgba(213, 153, 33, 0.50);


}

.All-users-columnChart-container  {
 
    border: 0.854px solid rgba(213, 153, 33, 0.50);
}

.All-users-columnChart ,.county-users-columnChart {
    height: 350px;
    border-radius: 17.573px;
    background: #151521;
    width: 90%;
    margin: auto;
    overflow-x  : hidden;

}
.country-Chart{
    background-color: #1E1E2D   ;
    height: 801px;
    border-radius: 19px;
    
}

.sections-slider {

    width: 129px !important;
    height: 126px !important;
}

.slick-list::-webkit-scrollbar {
    display: none;
}
.country-header{

    font-size: 32.268px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}