.Treasury .systemCard {


    border-radius: 8.667px;
    background: linear-gradient(135deg, rgba(111, 255, 203, 0.60) 0%, rgba(56, 19, 194, 0.60) 100%);

    height: 100px;
    z-index: 222222;

    flex-shrink: 0;

}

.staticsContainer {
    border-radius: 13px;
    border: 0.854px solid rgba(213, 153, 33, 0.50);
    height: 575px;
}

.staticsContainer legend {
    width: 20% !important;
}