.addUpdateUser {
    height: 793px;
    border-radius: 27px;
    border: 1px solid #EFAA20;
    background: #1E1E2D;



}

.golden {
    color: #EFAA20 !important;
}

.addupdateheader {
    color: #EFAA20;
    text-align: right;
    font-size: 20px !important;
    font-style: normal;

    line-height: 23.4px;
}

.addUpdateUser .form-control {
    background-color: #2B2B40 !important;
    border: unset !important;
    color: rgba(255, 255, 255, 0.50);

}

.addUpdateUser .form-control::placeholder {
    color: rgba(255, 255, 255, 0.50);
}

.addUpdateUser .form-control:focus {
    color: rgba(255, 255, 255, 0.50);
    ;
}

.addUpdateUser .form-group {
    width: 190px;

}

.addUpdateUser .css-1ng70dv-control {
    background: #2B2B40 !important;
    border: unset !important;
}

.addUpdateUser .css-1ng70dv-control:hover {
    background: #2B2B40 !important;

}

.addupdateheader .css-m1smmt-control:hover {
    background: #2B2B40 !important;

}

.addUpdateUser .licenseDate-container {
    width: 75% !important;
}

.sumbmitAddUpdateUser {
    width: 139px !important;
    height: 35px !important;
    border-radius: 6px !important;
    background: #EFAA20 !important;
    border: unset !important;
    color: #1E1E2D !important;
    font-size: 15px !important;
    line-height: 25.31px;
    font-weight: 500px !important;
}

