

/* .p-treeselect {
    width: 201px !important;
    height: 38px !important;
    background-color: #2B2B40 !important;
    border: unset !important;
}


.p-treeselect:not(.p-disabled).p-focus {
    outline: unset !important;
    box-shadow: unset !important;
}

.p-treeselect-header {
    display: none !important;
}

.p-tree {
    width: 201px !important;
    border-radius: unset !important;

    background-color: #1E1E2D !important;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
    background-color: unset !important;
    color: unset !important;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler {
    color: unset !important;
}

.p-tree {
    padding: unset !important;
}

.p-tree {
    color: rgba(255, 255, 255, 0.50) !important;
}

.p-treeselect .p-treeselect-label {
    color: rgba(255, 255, 255, 0.50) !important;

}

.p-treeselect .p-treeselect-label {
    padding: 4px 8px !important;
}

.p-treenode {}

.p-treenode-content {
    flex-direction: row-reverse !important;

}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover {
    background-color: unset !important;
    color: unset !important;
}

   */