  /* sytem style */
  .system-notification {
      width: 30px;
      height: 30px;
  }

  .all-categories {
      background-color: #1E1E2D !important;
      height: 801px;
      border-radius: 19px;
      padding: 10px;
  }
  .golden{
    color: #D59921 ;
  }