.MainSystem {
    border-radius: 19px;
    background: #1E1E2D;
    height: 801px;
    width: 100%;
    overflow: hidden !important;

}

.mainBackground {


    animation: rotation 2s infinite linear;
    max-width: 100% !important;
    overflow: hidden;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}