.MainSystem {
    border-radius: 19px;
    background: #1E1E2D;
    height: 801px;
    width: 100%;
    overflow: hidden !important;
    position: relative;

}

.mainBackground {


    animation: rotation 2s infinite linear;
    max-width: 100% !important;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.6;
  /* z-index: -1;    */
}

.cardsBackground {

    border-radius: 16.799px;
    background: rgba(47, 46, 70, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 0px 12.599px;
    height: 221px;
    z-index: 222222;

}

.systemCard {
    border-radius: 8.667px;
    background: linear-gradient(135deg, rgba(111, 255, 203, 0.60) 0%, rgba(56, 19, 194, 0.60) 100%);
    width: 100%;
   
    height: 84.067px;
    z-index: 222222;

    flex-shrink: 0;
}

.systemLineChart {
    height: 130px;
    border-radius: 17.573px;
    background: #151521;
    width: 90%;
    overflow: hidden;
    margin: auto;


}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}