/* body{
    background: #151521 ;
} */


@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;500&family=Poppins:ital,wght@0,500;1,500;1,600&display=swap ');

.system-bg {
    background: #151521 !important;
    font-family: "Cairo" !important;
    overflow-y: hidden;
}

.system-logo {
    width: 140PX;   
    height: 70PX;
}

.systemModal .modal-content {
    background-color: #1E1E2D !important;
    height:  846px !important;
    padding: 30px 0px ;
    overflow-y: scroll !important;


}


.systemModal .modal-content ::-webkit-scrollbar {
    
    border-radius: 10px; /* Rounded corners */

  }
  
  /* Style the scrollbar thumb (the draggable part) */
  .systemModal .modal-content::-webkit-scrollbar-thumb {

    border-radius: 10px; /* Rounded corners */
  }
  
  /* Style the scrollbar track (the background) */
  
  

.top-3 {
    top: 3%;
}

.end-5 {
    left: 5%;
}

.user-control-model {
    width: 100%;

    height: 88px;
    border: 2px solid #1E1E2D;
}

.ps-menu-button:hover {
    background-color: unset !important;
}

.full-system .css-1dimb5e-singleValue {
    color: rgba(255, 255, 255, 0.50) !important;


}

.system-container {
    min-height: 100vh;
    height: auto;
    width: 100% !important;
}

.full-system .css-m1smmt-control {
    background-color: #1E1E2D !important;
}

.full-system .css-1nmdiq5-menu {
    background-color: #1E1E2D !important;
}

.full-system .css-1nmdiq5-menu {
    color: rgba(255, 255, 255, 0.50) !important;
}

.accordion-button {
    width: 230px !important;
    height: 38px !important;
    background-color: #2B2B40 !important;
    border: unset !important;
    box-shadow: unset !important;
    outline: unset !important;
    padding: 0px;
    color: rgba(255, 255, 255, 0.50) !important;
    display: flex;
    justify-content: space-between;
    align-items: center !important;


}

.accordion-collapse.collapse.show,
.accordion-collapse.collapsing {
    width: 230px !important;


}

.collapsing {
    width: 230px !important;
}

.accordion-item {
    background-color: unset !important;
    border: unset !important;
    margin-top: 15px;


}


.accordion-body {
    padding: 0px !important;
    border: unset !important;
}

.all-categories .tab {
    width: 230px !important;
    padding: 2px;
    height: 38px;
    padding: 20px !important;
    padding-right: 20px !important;
    background-color: #2B2B40 !important;
    border-radius: 7px;
    display: flex;
    justify-content: start;
    padding: 3px;
    margin-top: 10px;
    align-items: center;
    color: rgba(255, 255, 255, 0.50) !important;
}

.accordion-button::after {
    display: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%234f4f4f%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e") !important;
}

.accordion .tab:hover,
.accordion-button:hover {
    border: 1px solid rgba(239, 170, 32, 0.50) !important;
}






.full-system .lciOTt {
    background-color: unset !important;
}

.full-system .jWOtlo {
    border: 1px solid #EFAA20 !important;
    background: #34344D !important;

    color: white !important;

}



.full-system .golden-border {
    border: 1px dashed #EFAA20;
}

.full-system .idxdtx {

    background: #34344D !important;
    color: #EFAA20 !important;

    border: 1px solid #EFAA20 !important;
}

.full-system .cSRQNB {
    background-color: #1E1E2D;
    color: #fff;


}

.showRequest {
    overflow-x: hidden !important;
    overflow-x: hidden !important;
}

.bXLDzR {
    overflow-y: auto !important;
    overflow-x: none !important;

}

.instrutmentimg {

    width: 93px;
    height: 61px;
    border-radius: 7px;
}

.No-Delete {

    background-color: #A83A3A !important;
    border: unset !important;
}

.No-Delete:focus {
    border: unset !important;
}

.Delete-button {

    background-color: #D59921 !important;
}

.showRequest {
    height: 800px !important;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.showRequestImg .modal-content {
    background-color: transparent !important;
}

.leaveComment textarea {
    background-color: transparent !important;
    border-radius: 7px !important;
    border: 1px solid rgba(239, 170, 32, 0.50) !important; 
    box-shadow: unset !important;
}

.leaveComment textarea:focus {
    border-radius: 7px !important;
    border: 1px solid rgba(239, 170, 32, 0.50) !important; 
}
.kAfkVG div:first-child {

    overflow: unset !important;
}